:root {
  --body-color: rgb(252, 252, 252);
  --title-colors: #047FB8;
  --text-color: #515151;
  --little-circle-color: #C3F4FF;
  --big-circle-color: #D7F8FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
}

header.header {
  width: 100%;
  min-width: 320px;
  height: 150px;
}

div.header--container {
  display: flex;
  width: 100%;
  height: inherit;
  justify-content: center;
  position: relative;
}


div.circle--big {
  position: absolute;
  z-index: 1;
  width: 90%;
  max-width: 390px;
  height: 300px;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: var(--big-circle-color);
}

div.circle--little {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 2;
  width: 65%;
  max-width: 280px;
  height: 230px;
  transform: translateY(-40%);
  border: none;
  border-radius: 50%;
  background-color: var(--little-circle-color);
}

div.circle--little div.logo {
  display: inline-block;
  position: absolute;
  bottom: -5%;
  z-index: 3;
  width: 160px;
  height: 160px;
  background-image: url("./assets/svq-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.circle--big a {
  display: none;
}

div.main-text a.our-work--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  background-color: var(--title-colors);
  border-radius: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 25px;
  /* animation-name: "bouncing-out";
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
  max-height: 1230px;
}

div.icon {
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

div.broom {
  width: 300px;
  height: 300px;
  background-image: url("./assets/broom.svg");
  background-position: left;
  left: -5%;
  transform: translateY(120%);
}

div.splash {
  width: 300px;
  height: 300px;
  background-image: url("./assets/splash.svg");
  transform: translateY(5%);
  background-position: right;
  right: 0;
}

div.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 545px;
  height: auto;
  text-align: center;
  z-index: 2;
  padding-top: 20px;
}

div.main-text .text__container {
  width: 80%;
  max-width: 380px;
}

div.main-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--title-colors);
}

div.main-text h1.special-h1 {
  margin-top: 20px;
}

div.main-text p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--text-color);
  font-weight: 300;
}

div.main-text p.special-p {
  font-weight: 600;
  font-size: 1.5rem;
  color: #01A0C6;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.contact-icons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  margin-bottom: 50px;
}

div.contact-icons-container a.contact-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

div.contact-icons-container a.contact-icon:active {
  transform: scale(1.5);
}

div.contact-icons-container a.paper-plane {
  background-image: url("./assets/paper-plane.svg");
}

div.contact-icons-container a.phone {
  background-image: url("./assets/phone.svg");
}